list

In [1]:
list1=[1,2,3]
print(type(list1))
list2=[1,2.3,'hii',True]
print(list2)
list2.append('hello')
print(list2)
print(list2[4])
print(len(list2))
list3=[]
del list2
list=list1+list1
print(list)

<class 'list'>
[1, 2.3, 'hii', True]
[1, 2.3, 'hii', True, 'hello']
hello
5
[1, 2, 3, 1, 2, 3]

tuple

In [2]:
tuple1=(1,2,3)
tuple2=(1,2.3,'hii',False)
tuple3=tuple(list)
print(type(tuple3))
print(tuple3[3])

<class 'tuple'>
1

SET

In [3]:
set1={1,2,3}
print(type(set1))
x=set(tuple2)
print(type(x))
y=set(list)
print(type(y))

<class 'set'>
<class 'set'>
<class 'set'>

DICTIONARY

In [4]:
my_dict={'name':'anubhuti','age':3,'city':'delhi'}
print(my_dict)
print(type(my_dict))
print(my_dict['name'])
print(my_dict['age'])
print(my_dict['city'])

{'name': 'anubhuti', 'age': 3, 'city': 'delhi'}
<class 'dict'>
anubhuti
3
delhi

ARITHMETIC_OPERATOR

In [5]:
a=12
b=23
c=a+b
print(c)
c=a-b
print(c)
c=a*b
print(c)
c=a/b
print(c)
c=a%b
print(c)
c=a**b
print(c)

35
-11
276
0.5217391304347826
12
6624737266949237011120128

ASSIGNMENT_OPERATOR

In [6]:
print(c)
c+=2
print(c)
c-=4534536
print(c)
c*=5
print(c)
c%=6768
print(c)
c/=34245
print(c)
c**=1
print(c)

6624737266949237011120128
6624737266949237011120130
6624737266949237006585594
33123686334746185032927970
4882
0.14256095780405897
0.14256095780405897

COMPARISION_OPERATOR

In [7]:
a=3
b=5
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
False
True
True
False

LOGICAL_OPERATOR

In [8]:
print(2>4 and 5>4)
print(2>4 or 5>4)
print(not(2>4 or 5>4))
print(not(0))
print(2>4 & 5>4)

False
True
False
True
False

INDENTITY_OPERATOR

In [9]:
print(a is b)
print(a is not b)

False
True

MEMBERSHIP_OPERATOR

In [10]:
c={1,2,3}
print(a in c)
print(a not in c)

True
False

IF_STATEMENT

In [13]:
a=int(input("enter number"))
b=int(input("enter number"))
if(a>b):
       print(a)
else:
       print(b)

enter number 23
enter number 45

45

IF_ELIF_IF STATEMENT

In [16]:
a=int(input("enter number"))
b=int(input("enter number"))
c=int(input("enter number"))
if(a>b and a>c):
    print(a)
elif(b>a and b>c):
    print(b)
else:
    print(c)

enter number 23
enter number 45
enter number 67

67

NESTED_IF

In [18]:
a=int(input("enter number"))
b=int(input("enter number"))
c=int(input("enter number"))
if(a>b):
    if(a>c):
        print(a)
    else:
        print(c)
else:
    if(b>c):
        print(b)
    else:
        print(c)

enter number 34
enter number 67
enter number 11

67

FOR LOOP

In [3]:
for i in range(5):
    print("hiiii")
my_list=[1,2,3]
for i in my_list:
    print(i)

hiiii
hiiii
hiiii
hiiii
hiiii
1
2
3

WHILE LOOP

In [7]:
i=5
while i<=10:
    print(i)
    i+=1

5
6
7
8
9
10

FUNCTION

In [14]:
def fact(n):
    p=1
    i=1
    while(i<=n):
        p=p*i
        i+=1
    print(p)

In [15]:
fact(5)

120